YEAR=2013
ENTRY_ROOT="$HOME"/scratch/assembly-entries-metadata
SCRIPTDIR="$ENTRY_ROOT"/lib
DATAFILE="$ENTRY_ROOT"/data/assembly-"$YEAR".txt
OUTFILE=/tmp/assembly-"$YEAR".xml

FILES_ROOT="$HOME"/scratch/assembly-"$YEAR"
MEDIA_VOD_DIRECTORY=/media/media.assembly.org

YOUTUBE_DEVELOPER_KEY=
YOUTUBE_USER=
YOUTUBE_EMAIL=
YOUTUBE_PASSWORD=

PMS_ROOT=https://pms.paeae.fi/
PMS_PARTY=asm13
PMS_ACCOUNT=
PMS_PASSWORD=

WEB_UPLOAD_PAGE=http://localhost:8081/archive/@@import
WEB_UPLOAD_ACCOUNT=admin
WEB_UPLOAD_PASSWORD=admin

PYTHON=bin/python
