YEAR=2013
DATAROOT="$HOME"/scratch/assembly-entries-metadata
SCRIPTDIR="$ENTRY_ROOT"/lib
DATAFILE="$ENTRY_ROOT"/data/assembly-"$YEAR".txt
OUTFILE=/tmp/assembly-"$YEAR".xml

FILES_ROOT="$HOME"/scratch/assembly-"$YEAR"
FILES_MAO=/media/media.assembly.org

YOUTUBE_OPTIONS=()
#YOUTUBE_OPTIONS="--privacy=private"

PMS_ROOT=https://pms.paeae.fi/
PMS_PARTY=asm13
PMS_LOGIN=
PMS_PASSWORD=

WEB_UPLOAD_PAGE=http://localhost:8081/archive/@@import
WEB_UPLOAD_ACCOUNT=admin
WEB_UPLOAD_PASSWORD=admin

ELAINE_VODS=vods.xml
ELAINE_PMS_VODLIST=vodlist

MUSIC_BACKGROUND="$FILES_ROOT"/music-background-assembly-"$YEAR".png

PYTHON=(bin/python)
FFMPEG=(ffmpeg)
